@charset "UTF-8";

@property --angle{
    syntax: "<angle>";
    inherit: false;
    initial-value: 0deg;
}

@keyframes borderAnimated {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #170237);
    z-index: -1;
}

#container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#quest1 {
    position: relative;
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
}

#quest1::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    z-index: -1;
}

.button {
    position: relative;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 25px;
    background: conic-gradient(from var(--angle), #FFF3FE, #16003D, #A755C2, #FFF3FE);
    z-index: -1;
    animation: borderAnimated 5s linear infinite;
}