@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gabriela');

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes borderAnimated {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@keyframes enterAnimated {
    from {
        opacity: 0;
        left: -150px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes desappier {
    from {
        rotate: 0deg;
        scale: 1;
        left: 0px;
        bottom: 0px;
        opacity: 1;
    }

    10% {
        rotate: 10deg;
    }

    30% {
        left: 100px;
    }

    to {
        rotate: -360deg;
        scale: 0;
        left: 0px;
        bottom: 0px;
        opacity: 0;
    }
}

@keyframes lineAnimated {
    from {
        left: -40px;
        opacity: 0;
    }

    80% {
        opacity: 0.8;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes linesExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes  toAppear{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes  wrongAnimate{
    from {
        width: 0px;
    }

    to {
        width: 420px;
    }
}

@keyframes  wrongAnimated{
    from {
        width: 420px;
    }

    to {
        width: 0px;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* font-family: Gabriela; */
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #18003C, #0C0C3D); */
    background: url(imagens/Captura\ de\ tela\ 2025-07-07\ 210106.png) top center no-repeat;
    background-size: cover;
}

#imgwrong {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    z-index: 1;
}

/* video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
} */

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#startpad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background: conic-gradient(from var(--angle), #FFF3FE, #16003d, #16003D, #A755C2, #FFF3FE);
    animation: borderAnimated  3s linear infinite;
    border-radius: 50%;
    font-size: 2.5em;
}

#start {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 285px;
    height: 135px;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#contquest {
    display: none;
    position: relative;
    width: 310px;
    height: 110px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    top: 20px;
    animation: toAppear 3s ease;
    font-size: 1em;

    & .line1q {
        animation: lineAnimated 2s ease 0s;
        animation-fill-mode: forwards;
    }

    & .line2q {
        animation: lineAnimated 1.5s ease 0.5s;
        animation-fill-mode: forwards;
    }

    & .line3q {
        animation: lineAnimated 1.25s ease 0.75s;
        animation-fill-mode: forwards;
    }

    & .line4q {
        animation: lineAnimated 1s ease 1s;
        animation-fill-mode: forwards;
    }

    & .quests {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .linesqs {
            display: none;
            opacity: 0;
            position: relative;
            left: -40px;
        }

    & .linesexit {
        left: 0;
        animation: linesExit 0.4s linear;
    }
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.buttpad {
    position: relative;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    background: conic-gradient(from var(--angle), #FFF3FE, #16003d, #16003D, #A755C2, #FFF3FE);
    animation: borderAnimated 5s linear infinite;
    cursor: pointer;
    opacity: 0;
}

#contanswer {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    text-align: center;

    & .exit1 {
        animation: desappier 2.7s ease;
        animation-fill-mode: forwards;
    }

    & .exit2 {
        animation: desappier 2.4s ease 0.3s;
        animation-fill-mode: forwards;
    }

    & .exit3 {
        animation: desappier 2.1s ease 0.6s;
        animation-fill-mode: forwards;
    }

    & .exit4 {
        animation: desappier 1.8s ease 0.9s;
        animation-fill-mode: forwards;
    }

    & .enter1 {
        animation: enterAnimated 2.7s ease;
        animation-fill-mode: forwards;
    }

    & .enter2 {
        animation: enterAnimated 2.4s ease 0.3s;
        animation-fill-mode: forwards;
    }

    & .enter3 {
        animation: enterAnimated 2.1s ease 0.6s;
        animation-fill-mode: forwards;
    }

    & .enter4 {
        animation: enterAnimated 1.8s ease 0.9s;
        animation-fill-mode: forwards;
    }

    & .answers {
        display: none;
        position: absolute;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
}